@import "@base/variables";

.paragraph {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 4px 0;

  sup {
    font-size: 54%;
    line-height: normal;
  }

  &.font {
    @include font-color;

    &-xx-small {
      font-size: 10px;
      line-height: 12px;
    }

    &-x-small {
      font-size: 11px;
      line-height: 13px;
    }

    &-small {
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.035px;
    }

    &-large {
      font-size: 16px;
      line-height: 19px;
    }

    &-x-large {
      font-size: 22px;
      line-height: 25px;
    }

    &-xx-large {
      font-size: 30px;
      line-height: 33px;
    }

    &-bold {
      font-weight: 700;
    }

    &-semibold {
      font-weight: 600;

      sup {
        font-weight: 400;
      }
    }

    &-medium {
      font-weight: 500;

      sup {
        font-weight: 500;
      }
    }

    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }
}
