@import "@base/variables";

.page {
  .header-homepage {
    position: absolute;
    top: 170px;
    right: 77px;

    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 42px;
      letter-spacing: 0.2px;

      sup {
        font-size: 18px;
      }
    }

    h2 {
      font-weight: 300;
      font-size: 28px;
      line-height: 38px;
      color: $gray-800;
      letter-spacing: 0.35px;
    }
  }

  :global {
    .footer {
      max-width: none;
      display: flex;
      flex-direction: column;
      background: $white;
      left: -30px;
      bottom: 0;
      width: calc(100% + 30px);
      padding: 15px 256px 4px 44px;
      color: $green-600;
      border-top: 3px solid $green-600;

      .logo {
        position: absolute;
        right: 35px;
        bottom: 0;
        display: flex;
        flex-flow: column;
        gap: 15px;
        align-items: flex-end;
      }

      .footnote {
        order: 2;

        .regular {
          font-size: 14px;
        }
      }

      .safetyInfo {
        order: 1;
        border-bottom: 2px solid $yellow-200;
        padding-bottom: 10px;
        margin-bottom: 10px;
        letter-spacing: -0.14px;

        p {
          font-size: 14px;
          line-height: 18px;
          color: $black;

          strong {
            color: $green-600;
          }

          a {
            color: $green-600;
          }
        }

        ul {
          padding-left: 10px;
          margin-bottom: 2px;

          li {
            position: relative;
            list-style: none;

            &::before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $black;
              position: absolute;
              top: 7px;
              left: -8px;
            }
          }
        }
      }
    }
  }
}
