.page {
    .header-homepage {
        position: absolute;
        top: 140px;
        right: 0;

        h1 {
            font-weight: 700;
            font-size: 34px;
            line-height: 44px;
        }

        h2 {
            font-weight: 300;
  		    font-size: 29px;
  		    line-height: 38px;
        }

        .footer {
            .logo {
                position: absolute;
                right: 65px;
                bottom: 0;
                display: flex;
                width: 200px;
                flex-direction: column;
                gap: 15px;
                justify-content: flex-end;
            }
        }
    }
}
