@import "@base/variables";

ul.list {
  list-style: none;
  padding-left: 10px;
  max-width: 823px;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 1.2;

  sup {
    font-size: 10px;
    line-height: normal;
  }

  &.numeric {
    list-style: decimal;
  }

  &.circle li {
    @include circle;
    @include list-marker-color;
  }

  &.rectangle li {
    @include rectangle;
    @include list-marker-color;
  }

  @for $i from 1 through 4 {
    &.columns-#{$i} {
      column-count: $i;

      li {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
