@import "@base/variables";

.block--patch {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 55px;

  & > div {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: $white;
    border: 1px solid $green;
    border-radius: 100px;
    padding: 6px 10px 6px 26px;
    margin-right: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 7px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $green;
    }
  }
}
