@import "@base/variables";
.A_3_2_3_Efficacy {

  sub {
    line-height: normal;
  }

  &_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .modal-link-wrapper {
      position: absolute;
      right: 37px;
      bottom: 260px;
    }
  }

  &-header {
    letter-spacing: -0.6px;
  }

  &-chart-img {
    width: 600px;
  }

  &-banner-img {
    position: absolute;
    width: 257px;
    right: -10px;
    top: 255px;
  }
}
