@import "@base/variables";

.tab_switcher {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 25px;
}

.tab_switcher__header {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    align-items: center;
    height: 48px;
    margin: 27px 0;

    button {
        display: flex;
        width: 176px;
        height: 47px;
        font-size: 14px;
        font-weight: 600;
        color: $blue-500;
        background-color: white;
        border: 1px solid $blue-500;
        border-radius: 24px;

        span {
            margin: auto;
        }

        &.active {
            color: white;
            background-color: $blue-500;

            div {
                width: 46px;
                height: 46px;
                background-color: $blue-350;
                border-radius: 25px;

                &:after {
                    content: "";
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 5px;
                    margin: 17px 5px 0 0;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }
        }
    }
}

.tab_switcher__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    margin: 8px;
}
