@import "@base/variables";

.upper_nav_bar {
  position: absolute;
  width: fit-content;
  height: fit-content;
  max-height: 64px;
  top: 0;
  right: 112px;
  z-index: 100;
  background: transparent;
  border-bottom: 1px solid $blue-300;

  .main-nav {
  
    &__link {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 42px;
  
      & .main-nav__link__wrapper a {
        width: 144px;
        margin: 8px auto;
        color: $blue-500;
        padding: 0 0 0 5px;
      }

      &.active {

        ul {
          position: absolute;
          display: flex;
          justify-content: center;
          gap: 6px;
          top: 43px;
          left: 0;
          margin: 0 24px;
          width: 95px;
          height: 9px;
          border-radius: 0 0 10px 10px;
          padding: 0 5px;
          background-color: $blue-300;

          li {
            width: 9px;
            height: 4px;
            margin: auto 0;
            padding: 0;
            border-radius: 2px;
            background-color: $grey-10;
            list-style: none;

            &.active {
              background-color: $blue-600;
            }
          }
        }

        .main-nav__link__wrapper a {
          color: $blue-600;
          padding: 0 0 0 5px;
  
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.upper_nav_bar__submenu {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
