@import "@base/variables";
.page--A_3_5_4_Additional {
  .content-background {
    padding-top: 50px;
  }

  .modal-link-wrapper {
    &:first-of-type {
      position: absolute;
      right: 205px;
      bottom: 124px;
    }
    &:last-of-type {
      position: absolute;
      right: 31px;
      bottom: 124px;
    }
  }
  .placebo {
    width: 29.5%;
  }
  .graphic {
    width: 68.5%;
  }
  .paragraph {
    width: 68%;
    line-height: 16px;
  }
  .sup-left {
    top: 1px;
  }
}
