@import "@base/variables";

.page {
  .h1 {
    letter-spacing: -0.25px;

    sup {
      position: relative;
      top: -0.15em;
      font-size: 0.85em;
      line-height: 0;
      vertical-align: baseline;
    }
  }

  .h3 {
    margin-left: 248px;

    sup {
      font-size: 0.7em;
    }
  }

  .pivotal_trials {
    font-size: 15px;
    line-height: 19px;
  }

  img.image_1 {
    position: relative;
    left: 0;
    width: 690px;
    max-width: none;
  }

  .footer {
    bottom: 12px;

    .logo {
      position: relative;
      bottom: 0;
    }
  }

  .footnotes {
    width: 700px;
  }

  .safety_info {
    p:first-child {
      font-size: 14px;

      a {
        color: $green-200;
      }
    }

    p:nth-child(2) {
      font-weight: normal;
      font-size: 13px;
    }

    .important_info {
      display: block;
      margin-bottom: 5px;
    }
  }
}
