@import "@base/variables";

.page--08_Activity_short {
  .title {
    color: $blue;
    font-family: $font-standard-ct;
    font-feature-settings: "pnum" on, "lnum" on;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 8px;
    margin-top: 116px;
    padding: 0 24px;
  }

  .activities {
    img {
      margin-top: -24px;

      &:first-child {
        margin-top: unset;
      }
    }
  }

  a {
    &.link {
      color: $blue-light;
      display: block;
      font-family: $font-standard-ct;
      font-feature-settings: "pnum" on, "lnum" on;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      margin-top: 24px;
      text-align: center;
      text-decoration: none;
    }
  }
}
