@import "@base/variables";

.page--12_Insights {
  .tabs__nav {
    position: sticky;
    top: 96px;
    padding: 4px 0 8px;
  }

  .tabs__nav,
  .screen,
  .sticky-content {
    background-color: $white-ghost;
  }

  .insights--title {
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    padding: 0 16px;
    margin-top: 116px;
    margin-bottom: 16px;

    &::before {
      content: "";
      background: url("./img/Chart_Icon.png") no-repeat center center;
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: bottom;
      margin-right: 12px;
    }
  }
}
