@import "@base/variables";

.activeTabCarret {
  position: absolute;
  width: 0;
  height: 46px;
  top: -1px;
}

.left,
.right {
  display: block;
  width: 55px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  left: 0;
  background-image: url("../img/tab_left.svg");
  background-position: bottom right;
}

.right {
  right: 0;
  background-image: url("../img/tab_right.svg");
  background-position: bottom left;
}

.center {
  position: absolute;
  left: 55px;
  right: 55px;
  top: 0;
  height: 100%;
  background: url("../img/tab_center.svg") no-repeat center center transparent;
  background-size: cover;
}
