@import "@base/variables";

.activeTabCarret {
  position: absolute;
  width: 0;
  height: 46px;
  top: -1px;
  background: url("../img/tab_full.svg") no-repeat bottom center transparent;
  background-size: contain;
}
