@import "@base/variables";

.arrows-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  top: 23px;
  width: 108px;
  height: 50px;
  background-color: $grey-650;
  border-radius: 25px 0 0 25px;

  button {
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    background: url("img/nav-arrow.svg") no-repeat center center transparent;
    background-size: contain;
    font-size: 0;
    margin: 11px;
    filter: drop-shadow(0px 2px 2px rgba($black, .4));

    &.arrows-nav__next {
      transform: rotate(180deg);
      margin: 9px 11px 11px 11px;

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 30px;
        position: absolute;
        left: 41px;
        top: 0;
        background: $green-600;
      }
    }
  }
}
