@import "@base/variables";

$menu-item-height: 90px;

.main-nav {
  font-size: 12px;
  margin: 5px 0 20px 0;

  &__link {
    box-sizing: border-box;
    height: $menu-item-height;
    display: flex;

    .main-nav__link__wrapper {
      display: contents;

      a {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $white;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 0 10px;
      }
    }

    ul {
      padding: 0;
      display: none;
    }

    &.active {
      background-color: transparentize($green-600, 0.6);

      &::after {
        content: "";
        position: absolute;
        width: 104px;
        height: 89px;
        background: url("@assets/misc/nav/main-nav-active-link.svg") 93.1px 0/12px
          89px no-repeat;
      }

      .main-nav__link__wrapper a {
        font-weight: bold;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 112px;
        padding: 0;
        border-bottom: 2px solid $blue-300;
        z-index: 10;

        li.main-nav__sublink {
          padding: 0 39px;
          list-style: none;

          &:first-child {
            padding-left: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $blue-600;
            font-weight: 400;
            width: auto;
            height: 45px;
            padding: 7px 0;
            margin: 0;
            border: none;

            &::after {
              display: none;
            }
          }

          &.current {
            a {
              font-weight: 700;
            }
          }
        }
      }
    }

    &.schizophrenia {
      &.active a {
        border-color: $yellow;
      }
    }

    &.bipolar {
      &.active a {
        border-color: $blue;
      }
    }
  }
}
