@import "@base/variables";

.main-nav {
  font-size: 12px;
  margin: 5px 0 20px 0;

  &__link {
    box-sizing: border-box;

    & .main-nav__link__wrapper a {
      display: flex;
      flex-direction: column;
      padding: 25px 0 25px 5px;
      align-items: center;
      text-decoration: none;
      border-right: 8px solid transparent;
      color: $white;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0;
      text-align: center;
      margin: 0 auto;
      width: fit-content;
    }

    ul {
      padding: 0;
      display: none;
    }

    &.active {
      .main-nav__link__wrapper a {
        font-weight: bold;
        padding: 25px 0 0 5px;

        &:after {
          content: "";
          width: 90px;
          height: 20px;
          margin: 5px 0 0 0;
          border-radius: 100% 100% 0 0;
          background: transparent linear-gradient(180deg, $blue-205 0%, $blue-200 40%, $yellow-300 100%) 0% 0% no-repeat padding-box;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 112px;
        padding: 0;
        border-bottom: 2px solid $blue-300;
        z-index: 10;

        li.main-nav__sublink {
          padding: 0 39px;
          list-style: none;

          &:first-child {
            padding-left: 0;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $blue-600;
            font-weight: 400;
            width: auto;
            height: 45px;
            padding: 7px 0;
            margin: 0;
            border: none;

            &::after {
              display: none;
            }
          }

          &.current {
            a {
              font-weight: 700;
            }
          }
        }
      }
    }

    &.schizophrenia {
      &.active a {
        border-color: $yellow;
      }
    }

    &.bipolar {
      &.active a {
        border-color: $blue;
      }
    }
  }
}
