.A-3-3-2_Safety {
  &-img {
    width: 839px;
  }

  &-btn {
    position: absolute;
    right: 29px;
    bottom: 95px;
    padding-left: 15px;
    padding-bottom: 4px;
    font-size: 14px;
  }

  &_wrapper {
    .footnote {
      ul {
        li {
          line-height: 13px;
        }
      }
    }
  }
}
