@import "@base/variables";

.page {
  ul.list {
    font-size: 15px;
    padding-left: 11px;
    letter-spacing: 0;

    li:before {
      left: -11px;
    }

    .list_subtext {
      display: flex;

      span:first-of-type {
        color: $green-300;
        padding-right: 5px;
      }
    }
  }
}
