@import "@base/variables";

.page {
  h1 {
    font-size: 44px;

    sup {
      font-size: 25px;
      top: 0;
    }

    span {
      display: block;
      padding-top: 15px;
      font-family: "Whitney-Book", sans-serif;
      font-size: 28px;
      text-transform: uppercase;
    }
  }

  h3 {
    font-size: 20px;
  }

  img.image_1 {
    position: relative;
    left: -15px;
    width: 870px;
    max-width: none;
  }

  :global {
    .footer {
      .safetyInfo {
        p {
          font-size: 14.5px;
          line-height: normal;

          &:first-child {
            line-height: 15px;
          }

          a {
            color: $green-200;
          }
        }

        .footerWarning {
          font-family: "Whitney-Book", sans-serif;
          font-size: 13.5px;
        }
      }

      .logo {
        right: 10px;
        bottom: 5px;
      }
    }
  }
}
