@import "@base/variables";

.page {
  h1 {
    font-size: 44px;

    sup {
      font-size: 25px;
      top: 0;
    }

    span {
      display: block;
      padding-top: 15px;
      font-family: "Whitney-Book", sans-serif;
      font-weight: 100;
      letter-spacing: .2px;
      font-size: 28px;
      color: $black-100;
      text-transform: uppercase;
    }
  }

  h3 {
    font-size: 20px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 860px;

    .item_link {
      display: block;
      width: 191px;
      height: 151.5px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
    .item {
      width: 245px;
      max-width: none;
      height: 205px;
      max-height: none;
      position: relative;
      top: -25px;
      left: -25px;
    }
  }

  img.image_1 {
    position: relative;
    left: -15px;
    width: 870px;
    max-width: none;
  }

  :global {
    .footer {
      .safetyInfo {
        p {
          font-size: 14.5px;
          line-height: normal;

          &:first-child {
            line-height: 15px;
          }

          a {
            color: $green-200;
          }
        }

        .footerWarning {
          font-family: "Whitney-Book", sans-serif;
          font-size: 13.5px;
        }
      }

      .logo {
        right: 10px;
        bottom: 5px;
      }
    }
  }
}
