.modalRoot {
  .tabs {
    width: 855px;
  }

  .tabHeader {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0.5px;
    line-height: 1;
  }

  .imgBodyCaregiver {
    width: 831px;
    margin-top: -90px;
    margin-left: -4px;
  }

  .imgBodyAdditional {
    width: 841px;
  }

  .footer {
    li {
      line-height: 13px;
    }
  }
}
