@import "@base/variables";
.cards-font-green {
  color: $green;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.53px;
}

.card {
  background: url("./img/card-bg.png");;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 200px;
  padding: 24px 50px 15px;


  &__title {
    color: $white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .button {
    text-transform: uppercase;
    color: $emerald;
    font-weight: 700;
    padding: 15px 55px 15px 20px;
    margin: 19px 0 0;
    font-size: 14px;
    position: relative;
    letter-spacing: 1.25px;
    line-height: 16px;

    &::after {
      content: url("./img/arrow.png");
      margin-left: 5px;
      margin-top: 10px;
      position: absolute;
      bottom: 5px;
    }
  }
}
