.modalRoot {
  h1 {
    margin-bottom: 15px;
  }

  .imgBody {
    margin-bottom: 20px;
  }

  .footer {
    margin: 0 0 5px 0;
    max-width: 835px;

    :global {
      /*
       * Fix for footnote.
       */
      .footnote {
        margin-bottom: 10px;
        max-width: 100%;

        ul li {
          line-height: 13px;
        }
      }
    }
  }

  :global {
    .references-label {
      text-transform: uppercase;
    }

    .modal-wrapper {
      padding: 39px 50px 18px 43px;
    }
  }
}
