.modalRoot {
  h1 {
    margin-bottom: 20px;
  }

  .imgBody {
    margin-bottom: 20px;
  }

  .footer {
    margin: 0 0 5px 0;
    max-width: 890px;

    :global {
      /*
       * Fix for footnote.
       */
      .footnote {
        margin-bottom: 10px;
        max-width: 100%;

        ul li {
          line-height: 13px;
        }
      }
    }
  }

  :global {
    .references-label {
      text-transform: uppercase;
    }
  }
}
