.page {
  position: relative;
  margin-top: 12px;

  :global {
    h1 {
      font-size: 30px;
      line-height: 7px;
      margin-bottom: 32px;
    }

    h2 {
      font-size: 20px;
      letter-spacing: -0.2px;
      margin-left: 30px;
      margin-bottom: 11px;
    }

    .button.button__type-a--active {
      outline: none;
      border-color: #FDCF00;
      box-shadow: 0 0 20px #FDCF00;
      z-index: 1;
    }
  }

  .people {
    position: absolute;
    top: 52px;
    right: 30px;
    width: 79px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 439px;
    width: 100%;
  }

  .whiteCard {
    margin-bottom: 45px;
  }

  .card {
    margin-bottom: 85px;
  }
}
