@import "@base/variables";

.slide-menu {
  width: 0;
  height: 110px;
  position: fixed;
  left: 102px;
  top: 645px;
  overflow: hidden;
  transition: .5s;

  &.open {
    width: 200px;
  }

  .slide-menu-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background: $blue-600;
    padding: 7px 8px;
    border-radius: 0 8px 8px 0;
  }
}

.main-nav__link {
  .main-nav__link__wrapper {
    .slide-menu {
      .slide-menu-inner {
        a {
          display: block;
          width: 100%;
          height: auto;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: -0.17px;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          padding: 8px 0 5px;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
