@import "@base/variables";
.page {
  .image_1 {
    display: block;
    margin: 0 auto;
  }

  .support_text {
    background: $gray-200;
    max-width: 811px;
    border-radius: 24px;
    padding: 42px 22px 42px;

    a {
      text-decoration: none;
    }
  }
}
