.page {
  :global {
    h1 {
      letter-spacing: -0.25px;
    }

    h2 {
      text-align: center;
      font-size: 22px;
      line-height: 1;

      sup {
        font-size: 0.6em;
      }
    }

    img.image-1 {
      position: absolute;
      width: 940px;
      max-width: none;
      right: -54px;
    }
  }
}
