@import "@base/variables";

.page {
  margin-top: 12px;

  .h1 {
    font-size: 30px;
    line-height: 7px;
    margin-bottom: 32px;

    &.custom {
      line-height: 27px;
    }
  }

  .h2 {
    font-size: 20px;
    letter-spacing: -0.2px;
    margin-left: 30px;
    margin-bottom: 11px;

    sup {
      position: relative;
      top: 0;
      font-size: 0.9em;
      line-height: 0;
      vertical-align: baseline;
    }
  }

  :global {
    .button.button__type-a--active {
      outline: none;
      border-color: $yellow-200;
      box-shadow: 0 0 20px $yellow-200;
      z-index: 1;
      cursor: pointer;
    }
  }

  .people {
    position: absolute;
    top: 62px;
    right: 30px;
    width: 79px;
  }

  .fading {
    background: $gray-200;
    border-radius: 26px;
    width: 823px;
    height: 344px;
    padding-top: 18px;
    padding-left: 19px;
  }

  .item1 {
    width: 175px;
    height: 253px;
  }

  .item2 {
    width: 187px;
    height: 288px;
    position: relative;
    left: 12px;
    top: 27px;
  }

  .item3 {
    width: 206px;
    height: 270px;
    position: relative;
    left: 30px;
    top: 27px;
  }

  .item4 {
    width: 194px;
    height: 288px;
    position: relative;
    left: 30px;
    top: 28px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 460px;
    width: 100%;
  }

  .whiteCard {
    margin-bottom: 45px;
  }

  .card {
    margin-bottom: 98px;
  }
}
