.modalRoot {
  h3 {
    .asterisk {
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .imgBody {
    width: 846px;
  }

  .footer {
    li {
      line-height: 13px;
    }
  }
}
