.page {
  .image_1 {
    position: absolute;
    top: 137px;
    left: 1px;
  }

  .image_2 {
    position: absolute;
    bottom: 130px;
    left: 1px;
  }

  :global {
    .modal-link-wrapper {
      position: absolute;
      bottom: 238px;
      right: 170px;
    }
  }
}
