.page {
  .image_1 {
    position: absolute;
    top: 137px;
    left: 1px;
  }

  .image_2 {
    position: absolute;
    bottom: 130px;
    left: 1px;
  }

  :global {
    .modal-link-wrapper {
      position: absolute;
      bottom: 238px;
      right: 170px;
    }

    .click-area {
      position: absolute;
      left: -25px;
      top: 188px;
      right: 0;
      z-index: 3;
      width: 513px;
      height: 287px;
    }

    .chart-wrapper {
      position: relative;
      left: -25px;
      width: 513px;
      height: 287px;
      padding-top: 62px;
      box-sizing: border-box;
    }
  }
}
