@import '@base/variables';

.button-continue {
  position: relative;
  display: block;
  min-width: 161px;
  height: 48px;
  background: $blue-100;
  border-radius: 24px;
  border: 1px solid $blue-500;
  font-family: $font-open-sans;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  color: $gray-800;
  padding: 7px 60px 6px 20px;

  &::after {
    content: '';
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('img/icon-arrow-right-blue.svg') no-repeat 13px center transparentize($white, 0.33);
    background-size: 24px 24px;
    border-radius: 22px;
  }

  &:active:not([disabled]) {
    top: 1px;
  }

  &[disabled] {
    opacity: .55;
  }
}
