@import "@base/variables";

.button-continue {
  position: relative;
  display: block;
  min-width: 186px;
  height: 48px;
  border-radius: 24px;
  font-family: $font-whitney;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  color: $white;
  padding: 7px 45px 6px 20px;
  background: url("./img/button-bg.png") left top / cover no-repeat $green-400;
  box-shadow: 0 0 20px transparentize($yellow-100, 0.18);

  &::after {
    content: "";
    width: 34px;
    height: 34px;
    border: 2px solid $white;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: url("img/icon-arrow-right.svg") no-repeat center $yellow-200;
    background-size: 22px 22px;
    border-radius: 22px;
  }

  &:active:not([disabled]) {
    top: 1px;
  }

  &[disabled] {
    opacity: 0.55;
  }
}
