.page {
  .button_container {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    position: absolute;
    left: 224px;
    bottom: 158px;
  }
}

:global {
  .page--R_3_3_1_Study_6 {
    .footnote {
      ul li:first-child {
        line-height: 12px;
      }
    }
  }
}
