@import "@base/variables";

.button {
  box-sizing: border-box;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  background-color: yellowgreen;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  width: 186px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;


  &__type-a {
    &--active {
      background-color: yellowgreen;
      color: $white;
      justify-content: left;
      padding-left: 20px;
      padding-right: 54px;

      &:before {
        content: "";
        height: 37px;
        width: 37px;
        background-color: #FDCF00;
        border-radius: 50%;
        position: absolute;
        right: 3px;
        border: 3px solid #fff;
      }

      &:after {
        content: "";
        height: 12px;
        width: 18px;
        //background-image: url("@assets/icons/button/icon-arrow-down-white.svg");
        background-repeat: no-repeat;
        background-size: 18px;
        position: absolute;
        right: 14px;
        top: 18px;
      }
    }

    &--disabled {
      opacity: 0.6;
    }
  }
}