@import "@base/variables";

.button {
  box-sizing: border-box;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: $blue-400;
  color: $blue-400;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  width: 176px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;


  &__type-a {
    &--active {
      background-color: $blue-400;
      border-color: $white;
      color: $white;
      justify-content: left;
      padding-left: 20px;
      padding-right: 54px;

      &:before {
        content: "";
        height: 47px;
        width: 47px;
        border-radius: 100px;
        background: $white;
        opacity: .25;
        position: absolute;
        right: 0;
      }

      &:after {
        content: "";
        height: 12px;
        width: 18px;
        background-image: url("@assets/icons/button/icon-arrow-down-white.svg");
        background-repeat: no-repeat;
        background-size: 18px;
        position: absolute;
        right: 14px;
        top: 18px;
      }

      &-right {
        &:after {
          content: "";
          height: 18px;
          width: 12px;
          background-image: url("@assets/icons/button/icon-arrow-right-white.svg");
          background-repeat: no-repeat;
          background-size: 12px;
          position: absolute;
          right: 16px;
          top: 14px;
        }
      }
    }
  }

  &__type-b {
    background-color: $blue-500;
    border-color: $white;
    color: $white;
    justify-content: left;
    padding-left: 20px;
    padding-right: 54px;
    width: 164px;

    &:before {
      content: "";
      height: 47px;
      width: 47px;
      border-radius: 100px;
      background: $white;
      opacity: .25;
      position: absolute;
      right: 0;
    }

    &:after {
      content: "";
      height: 19px;
      width: 19px;
      background-image: url("@assets/icons/button/icon-link-white.svg");
      background-repeat: no-repeat;
      background-size: 19px;
      position: absolute;
      right: 14px;
    }
  }

  &__type-c {
    background-color: $blue-100;
    border-color: $blue-500;
    color: $gray-800;
    justify-content: left;
    padding-left: 20px;
    padding-right: 54px;
    width: 161px;
    font-size: 16px;

    &:before {
      content: "";
      height: 47px;
      width: 47px;
      border-radius: 100px;
      background: $white;
      opacity: .4;
      position: absolute;
      right: 0;
    }

    &:after {
      content: "";
      height: 24px;
      width: 16px;
      background-image: url("@assets/icons/button/icon-arrow-right-blue.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      position: absolute;
      right: 14px;
    }

    &--disabled {
      opacity: .55;
    }

    &-large {
      padding-left: 20px;
      padding-right: 54px;
      width: 200px;

      &-blue {
        background-color: $blue-250;
      }

      &-gray {
        background-color: $gray-100;
        border-color: $blue-600;
      }

      &-dark {
        background-color: $blue-400;
        border-color: $white;
        color: $white;

        .button__text {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}
