@import "@base/variables";

.navigation {
  display: flex;
  flex-direction: column;
  background: transparent linear-gradient(180deg, $blue-600 0%, $blue-450 100%) 0% 0% no-repeat padding-box;
  border-radius: 0 14px 14px 0;
  height: calc(100% - 41px);

  &__arrows {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    height: 58px;
    background-color: $white;

    a {
      color: $white;
    }
  }

  .navigation__head {

    .navigation__homepage-link {
      margin: 46px auto 0 auto;
      background-image: url(@assets/icons/homepage.svg);
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      display: block;
    }
  
    .navigation__homepage--active {
      display: block;
      width: 90px;
      height: 20px;
      margin: 5px auto;
      border-radius: 100% 100% 0 0;
      background: transparent linear-gradient(180deg, $blue-205 0%, $blue-200 40%, $yellow-300 100%) 0% 0% no-repeat padding-box;
    }
  }

  .main-bottom-nav {
    position: absolute;
    left: 0;
    bottom: 32px;
    width: 100%;

    &>:nth-child(2) {
      display: block;
      border-bottom: 1px solid #fff;
      width: 48px;
      height: 1px;
      margin: auto;
    }

    .main-nav__link {
      list-style: none;
      margin: 8px auto;
      text-align: center;

      .main-nav__link__wrapper,
      .button-wrapper {
        display: inline-block;
        border: 4px solid transparent;
        border-radius: 50%;

        & > a,
        & > button {
          display: block;
          width: 33px;
          height: 33px;
          border: 1px solid $white;
          border-radius: 50%;
          background: transparent;
          font-size: 16px;
          text-align: center;
          line-height: 34px;
          font-weight: 700;
          padding: 0;
          color: $white;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            border-width: 1.5px;
            line-height: 33px;
          }
        }
      }
    
      &.active .main-nav__link__wrapper,
      .main-nav__link__wrapper .button-wrapper.active {
        border-color: $blue-100;
      }

      &.active .main-nav__link__wrapper > a,
      .main-nav__link__wrapper .button-wrapper.active > button {
        border-color: $blue-550;
        background: $blue-100;
        color: $blue-550;

        &:after {
          display: none;
        }
      }
    }
  }  
}
