@import "@base/variables";

.page {

  :global {

      .ScrollbarsCustom-Content {
        padding-right: 42px !important;
      }

    .ScrollbarsCustom-TrackY {
      width: 8px !important;
      background: $gray-300 !important;
      top: 0 !important;
      right: -39px !important;
    }

      .ScrollbarsCustom-Thumb {
        background: $green-300 !important;
      }
    }

  max-width: 829px;
  height: calc(100% - 188px);
  padding-right: 50px;
  margin-right: 0;
  padding-left: 2px;

  h3,
  p,
  li {
    font-size: 15px;
    line-height: 19px;
  }
}
