@import "@base/variables";

.page {
  :global {
    max-width: 829px;
    padding-right: 50px;
    margin-right: 0;
    padding-left: 2px;

    .ScrollbarsCustom-Content {
      padding-right: 42px !important;
    }

    .ScrollbarsCustom-TrackY {
      width: 10px !important;
      background: $gray-300 !important;
      top: 0 !important;
      right: -53px !important;
      height: 100% !important;
      border-radius: 5px !important;
    }

    .ScrollbarsCustom-Thumb {
      background: $green-300 !important;
      border-radius: 5px !important;
    }
  }

  h3,
  p,
  li {
    font-size: 15px;
    line-height: 19px;
  }
}
