.page {
  padding-top: 32px;
}

.title {
  position: absolute;
  top: 32px;
  left: 0;
}

.footer {
  padding-right: 190px;
}

.footerLogo {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 155px;
}

.footerLogoImg {
  width: 100%;
  height: auto;
}
