@charset "UTF-8";
@import "variables";
@import "_fonts";

// reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#app {
  width: 1080px;
  height: 810px;
  transform-origin: top left;
}

// General styles
body {
  width: 1024px;
  height: 768px;
  font-family: $font-open-sans;
  font-size: $font-size-base;
  line-height: 1.2;
  color: $base;

  // ::-webkit-scrollbar {
  //   width: 3px;
  // }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

a {
  color: $green;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

// Font color. Globally accessed
// example: class="font-matisse"
.font {
  @include font-color;
}

// Background color. Globally accessed
// example: class="bg-matisse"
.bg {
  @include bg-color;
}

// Spacings like in Bootstrap. Globally accessed
// example: m-0 m-10 mx-10 my-10 mt-10 mb-10 ml-10 mr-10
@include spacing("m", "margin");

// example: p-0 p-10 px-10 py-10 pt-10 pb-10 pl-10 pr-10
@include spacing("p", "padding");

// example: bottom-10
@include position("bottom", "bottom");
