// Fonts
$font-open-sans: "Open Sans", sans-serif;
$font-standard-ct: "Standard CT", sans-serif;
$font-standard-ct-cond: "Standard CT Cond", sans-serif;

// Colors
$base: #414042;
$black: #101010;
$white: #fff;
$grey: #f3f3f3;
$grey-lighter: #D8D8D8;
$grey-light: #D4D4D4;
$grey-dark: #979797;
$emerald: #07412C;
$charcoal-dark: #2f2f2f;
$green: #42711e;
$green-light: #0e7850;
$green-dark: #142c1d;
$orange-dark: #E6A600;
$orange: #FFB718;
$yellow: #FCCF00;


// Colors prev - to delete
$black: #000;
$white: #fff;
$white-ghost: #f7f8fb;
$white-coconut: #e8eef6;
$blue: #07274e;
$blue-soft: #55c2f1;
$blue-jordy: #7097d9;
$blue-gulf: #2c3a61;
$blue-light: #1d55a3;
$blue-structural: #159ed9;
$blue-maya: #75c6ff;
$ripe-crimson: #f45270;
$gray: #f3f3f3;
$gray-light: #f2f2f2;
$gray-lighter: #d8d8d8;
$gray-shingle: #949494;
$gray-granite: #626262;
$gray-bright: #58595b;
$gray-dark: #363636;
$gray-darker: #3b3b3b;
$gray-whisper: #ececec;
$green: #138657;
$green-light: #89c629;
$green-lighter: #a0ce58;
$orange: #f59121;
$butter-muffin: #f9dfb3;
$aqua-spray: #a4dfdc;
$blue-navy: #0077c8;


// Colors array for loops in mixins
$colors: (
  "black": $black,
  "white": $white,
  "gray": $gray,
  "gray-darker": $gray-darker,
  "gray-whisper": $gray-whisper,
  "green": $green,
  "blue": $blue,
  "blue-light": $blue-light,
  "orange": $orange,
);

// Shadows
$card-shadow: 0 2px 18px rgba($black, 0.08);

@mixin card(
  $border-radius: 16px,
  $bg: $white,
  $top: 20px,
  $right: 16px,
  $bottom: 17px,
  $left: 16px
) {
  border-radius: $border-radius;
  background-color: $bg;
  box-shadow: $card-shadow;
  padding: $top $right $bottom $left;
}

@mixin triangle {
  &::before {
    content: "";
    border-color: transparent $orange-dark;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
  }
}

@mixin circle {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square-small {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 3px;
    height: 3px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

// General text color mixin
@mixin font-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      color: $variable;
    }
  }
}

@mixin bg-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      background-color: $variable;
    }
  }
}

// Lists marker color mixin
@mixin list-marker-color {
  @each $name, $variable in $colors {
    &.marker-#{$name}::before {
      background-color: $variable;
    }
  }
}

// Spacings like in Bootstrap
@mixin spacing($short_var, $css_var) {
  @for $i from 0 through 100 {
    @if $i % 5 == 0 or $i < 15 {
      .#{$short_var}-#{$i} {
        #{$css_var}: #{$i}px !important;
      }
      .#{$short_var}y-#{$i} {
        #{$css_var}-top: #{$i}px !important;
        #{$css_var}-bottom: #{$i}px !important;
      }
      .#{$short_var}x-#{$i} {
        #{$css_var}-left: #{$i}px !important;
        #{$css_var}-right: #{$i}px !important;
      }
      .#{$short_var}t-#{$i} {
        #{$css_var}-top: #{$i}px !important;
      }
      .#{$short_var}b-#{$i} {
        #{$css_var}-bottom: #{$i}px !important;
      }
      .#{$short_var}l-#{$i} {
        #{$css_var}-left: #{$i}px !important;
      }
      .#{$short_var}r-#{$i} {
        #{$css_var}-right: #{$i}px !important;
      }
    }
  }
}
