// Don't use these fonts, will be removed soon.
$font-open-sans: "Open Sans", sans-serif;
$font-standard-ct: "Standard CT", sans-serif;
$font-standard-ct-cond: "Standard CT Cond", sans-serif;

// Don't use these color, will be removed soon.
$black: #000;
$white: #fff;
$white-ghost: #f7f8fb;
$white-coconut: #e8eef6;
$blue: #07274e;
$blue-soft: #55c2f1;
$blue-jordy: #7097d9;
$blue-gulf: #2c3a61;
$blue-light: #1d55a3;
$blue-structural: #159ed9;
$blue-maya: #75c6ff;
$ripe-crimson: #f45270;
$gray: #f3f3f3;
$gray-light: #f2f2f2;
$gray-lighter: #d8d8d8;
$gray-shingle: #949494;
$gray-granite: #626262;
$gray-bright: #58595b;
$gray-dark: #363636;
$gray-darker: #3b3b3b;
$gray-whisper: #ececec;
$green: #138657;
$green-light: #89c629;
$green-lighter: #a0ce58;
$orange: #f59121;
$butter-muffin: #f9dfb3;
$aqua-spray: #a4dfdc;
$blue-navy: #0077c8;
$base: #414042;
$black: #101010;
$white: #fff;
$grey: #f3f3f3;
$grey-lighter: #D8D8D8;
$grey-light: #D4D4D4;
$grey-dark: #979797;
$emerald: #07412C;
$charcoal-dark: #2f2f2f;
$green: #42711e;
$green-light: #0e7850;
$green-dark: #142c1d;
$orange-dark: #E6A600;
$orange: #FFB718;
$yellow: #FCCF00;

// Use these fonts.
$font-whitney: "Whitney", sans-serif;
$font-arial: "Arial";

// Use these color.

// White
$white: #fff;

// Black
$black: #000;
$black-100: #414042;
$black-300: #101010;

// Grey
$grey-10: #F3F3F3;
$gray-100: #F4F4F4;
$gray-200: #EFEFEF;
$gray-300: #E2E2E2;
$gray-500: #D8D8D8;
$gray-600: #D4D4D4;
$gray-700: #979797;
$gray-900: #2F2F2F;

// Green
$green-100: #0E7850;
$green-200: #4D6F2C;
$green-300: #42711E;
$green-400: #3B6E17;
$green-500: #294339;
$green-600: #07412C;
$green-700: #142C1D;

// Yellow
$yellow-100: #FADA40;
$yellow-200: #FDCF00;
$yellow-300: #FCCF00;
$yellow-400: #FFB718;
$yellow-500: #E6A600;

// Orange
$orange-300: #FFA05E;

// Colors array for loops in mixins
$colors: (
  "white": $white,
  "black": $black,
  "black-100": $black-100,
  "black-300": $black-300,
  "grey-10": $grey-10 ,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-900": $gray-900,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "orange-300": $orange-300,
);

// Shadows
$card-shadow: 0 2px 18px rgba($black, 0.08);

@mixin card(
  $border-radius: 16px,
  $bg: $white,
  $top: 20px,
  $right: 16px,
  $bottom: 17px,
  $left: 16px
) {
  border-radius: $border-radius;
  background-color: $bg;
  box-shadow: $card-shadow;
  padding: $top $right $bottom $left;
}

@mixin triangle {
  &::before {
    content: "";
    border-color: transparent $orange-dark;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
  }
}

@mixin circle {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square-small {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 3px;
    height: 3px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

// General text color mixin
@mixin font-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      color: $variable;
    }
  }
}

@mixin bg-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      background-color: $variable;
    }
  }
}

// Lists marker color mixin
@mixin list-marker-color {
  @each $name, $variable in $colors {
    &.marker-#{$name}::before {
      background-color: $variable;
    }
  }
}

// Spacings like in Bootstrap
@mixin spacing($short_var, $css_var) {
  @for $i from 0 through 100 {
    @if $i % 5 == 0 or $i < 15 {
      .#{$short_var}-#{$i} {
        #{$css_var}: #{$i}px !important;
      }
      .#{$short_var}y-#{$i} {
        #{$css_var}-top: #{$i}px !important;
        #{$css_var}-bottom: #{$i}px !important;
      }
      .#{$short_var}x-#{$i} {
        #{$css_var}-left: #{$i}px !important;
        #{$css_var}-right: #{$i}px !important;
      }
      .#{$short_var}t-#{$i} {
        #{$css_var}-top: #{$i}px !important;
      }
      .#{$short_var}b-#{$i} {
        #{$css_var}-bottom: #{$i}px !important;
      }
      .#{$short_var}l-#{$i} {
        #{$css_var}-left: #{$i}px !important;
      }
      .#{$short_var}r-#{$i} {
        #{$css_var}-right: #{$i}px !important;
      }
    }
  }
}
