$font-size-base: 16px;
$font-whitney: "Whitney", sans-serif;
$font-arial: "Arial";

// Blue
$blue-50: #d1f2fc;
$blue-100: #7de1de;
$blue-200: #7de1de3d;
$blue-205: #7de1ded8;
$blue-250: #7fdaf6;
$blue-300: #00b6ed;
$blue-350: #41a4ba;
$blue-400: #39849e;
$blue-450: #008fbc;
$blue-500: #0086a1;
$blue-550: #007ca4;
$blue-600: #005674;
$blue-700: #00567473;
$blue: $blue-600;

// White
$white: #fff;

// Black
$black-100: #414042;
$black-300: #101010;
$black: #000;

// Gray
$grey-10: #ffffffd9;
$gray-10: #f3f3f3;
$gray-100: #f4f4f4;
$gray-200: #efefef;
$gray-250: #ededed;
$gray-300: #e2e2e2;
$gray-350: #eaebeb;
$gray-500: #d8d8d8;
$gray-600: #d4d4d4;
$grey-650: #c7d5bc;
$gray-700: #979797;
$gray-750: #9d9d9d;
$gray-800: #333333;
$gray-900: #2f2f2f;
$gray: $gray-800;

// Green
$green-50: #e8eee4;
$green-100: #0e7850;
$green-200: #4d6f2c;
$green-300: #42711e;
$green-400: #3b6e17;
$green-500: #294339;
$green-600: #07412c;
$green-700: #142c1d;
$green: $green-300;

// Yellow
$yellow-100: #fada40;
$yellow-200: #fdcf00;
$yellow-300: #fccf00;
$yellow-400: #ffb718;
$yellow-500: #e6a600;
$yellow: $yellow-300;

// Orange
$orange-300: #ffa05e;
$orange: $orange-300;

// Red
$red-500: #e83443;
$red: $red-500;

// Pink
$pink-100: #ff00c4;
$pink: $pink-100;

$base: $gray-800;

// Colors array for loops in mixins
$colors: (
  "base": $base,
  "white": $white,
  "primary": $blue,
  "secondary": $gray,
  "info": $gray-100,
  "success": $green,
  "warning": $yellow,
  "blue-50": $blue-50,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-205": $blue-205,
  "blue-250": $blue-250,
  "blue-300": $blue-300,
  "blue-350": $blue-350,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "black": $black,
  "black-100": $black-100,
  "black-300": $black-300,
  "grey-10": $grey-10,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "red-500": $red-500,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "orange-300": $orange-300,
);

// Shadows
$card-shadow: 0 2px 18px rgba($black, 0.08);

@mixin card(
  $border-radius: 16px,
  $bg: $white,
  $top: 20px,
  $right: 16px,
  $bottom: 17px,
  $left: 16px
) {
  border-radius: $border-radius;
  background-color: $bg;
  box-shadow: $card-shadow;
  padding: $top $right $bottom $left;
}

@mixin triangle {
  &::before {
    content: "";
    border-color: transparent $orange;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
  }
}

@mixin circle {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square-small {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 3px;
    height: 3px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin rectangle {
  &::before {
    content: "";
    display: block;
    background-color: $orange;
    width: 6px;
    height: 2px;
    position: relative;
    top: 11px;
    left: -9px;
    border-radius: 0;
  }
}

// General text color mixin
@mixin font-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      color: $variable;
    }
  }
}

@mixin bg-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      background-color: $variable;
    }
  }
}

// Lists marker color mixin
@mixin list-marker-color {
  @each $name, $variable in $colors {
    &.marker-#{$name}::before {
      background-color: $variable;
    }
  }
}

// Spacings like in Bootstrap
@mixin spacing($short_var, $css_var) {
  @for $i from 0 through 100 {
    .#{$short_var}-#{$i} {
      #{$css_var}: #{$i}px !important;
    }
    .#{$short_var}y-#{$i} {
      #{$css_var}-top: #{$i}px !important;
      #{$css_var}-bottom: #{$i}px !important;
    }
    .#{$short_var}x-#{$i} {
      #{$css_var}-left: #{$i}px !important;
      #{$css_var}-right: #{$i}px !important;
    }
    .#{$short_var}t-#{$i} {
      #{$css_var}-top: #{$i}px !important;
    }
    .#{$short_var}b-#{$i} {
      #{$css_var}-bottom: #{$i}px !important;
    }
    .#{$short_var}l-#{$i} {
      #{$css_var}-left: #{$i}px !important;
    }
    .#{$short_var}r-#{$i} {
      #{$css_var}-right: #{$i}px !important;
    }
  }
}

@mixin position($short_var, $css_var) {
  @for $i from 0 through 100 {
    .#{$short_var}-#{$i} {
      #{$css_var}: #{$i}px !important;
    }
  }
}

@mixin maxWidth($short_var, $css_var) {
  @for $i from 0 through 1000 {
    .#{$short_var}-#{$i} {
      #{$css_var}: #{$i}px !important;
    }
  }
}
