@import "@base/variables";
.page {
  .h1 {
    line-height: 31px;

    sup {
      top: 4px;
      font-size: 0.6em;
    }
  }

  .chart_head {
    font-size: 23px;
    line-height: 24px;

    span {
      font-size: 26px;
      color: $green-200;
      font-weight: bold;
    }
  }

  .image_1 {
    width: 806px;
  }

  .chart_bottom {
    font-size: 15px;
    line-height: 18px;
    padding: 3px 0;

    sub {
      font-size: 0.6em;
    }
  }

  .list_container {
    display: flex;

    & > div {
      padding-left: 0;
      padding-top: 4px;

      &:first-child {
        width: 390px;
      }
    }

    h3 {
      font-size: 15px;
      line-height: 20px;
    }

    ul {
      li {
        font-size: 15px;
        line-height: 6px;

        &:before {
          background-color: $green-200;
          top: 8px;
          left: -11px;
          border-radius: 40%;
        }

        sub {
          font-size: 0.7em;
        }
      }
    }
  }

  .footnote {
    max-width: 560px;

    ul li {
      line-height: 12px;

      sup {
        font-size: 6px;
      }
    }
  }

  .safety_info {
    p:first-child {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;

      a {
        color: $green-200;
      }
    }

    p:nth-child(2) {
      font-weight: normal;
      font-size: 13px;
    }
  }

  .animated {
    position: relative;

    &_block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 82%;
      display: flex;
      align-items: center;

      & div .animated_item3 img {
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-delay: 3.5s;
      }
    }

    &_block2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 18px;
      opacity: 0;
      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 4.5s;
    }

    &_text {
      font-size: 31.5px;
      line-height: 37px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
