@import "@base/variables";
.page--A_5_1_Patients_support_providers {
  .page__wrapper {
    .right-pane{
      .support {
        max-width: 70%;
        margin: auto;
        display: block;
        padding-right: 53px;
      }
      .background-grey-blue {
        background: #D9E6EA;
        border-radius: 9px;
        width: 75%;

        .support-text {
          line-height: 1.25;
          padding: 23px 0 22px 0;
          margin: 0;

          .paragraph {
            padding: 0;
          }

          a {
            color: #005674;
            text-decoration: none;
          }

          hr {
            height: 1px;
            margin: 10px auto;
            background-color: grey;
            width: 54%;
          }
        }
      }
    }
  }
}
