@import "@base/variables";

.page {
  .h1 {
    letter-spacing: -0.25px;
  }

  img.image_1 {
    position: relative;
    left: -5px;
    width: 830px;
    max-width: none;
  }

  :global {
    .footer {
      .safetyInfo {
        p {
          font-size: 14.5px;
          line-height: normal;

          a {
            color: $green-200;
          }
        }

        .footerWarning {
          font-family: "Whitney-Book", sans-serif;
          font-size: 13.5px;
        }
      }

      .logo {
        right: 10px;
      }
    }
  }
}
