@import "@base/variables";

.phone {
  &-vertical,
  &-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .sticky-content {
      position: absolute;
      top: 21px;
      z-index: 10;
      border-top-right-radius: 35px;
      border-top-left-radius: 35px;
      background-color: $white;
    }

    .screen {
      background-color: $white;
      border-radius: 35px;
      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      z-index: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.screen-no-scroll {
      .screen {
        overflow-y: hidden;
      }
    }

    &.bg-transparent {
      .sticky-content {
        background-color: transparent;
      }
    }

    .illustrative-data,
    .info-text {
      color: $white;
      font-family: $font-open-sans;
      font-style: normal;

      position: absolute;
    }

    .info-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }

    .illustrative-data {
      font-size: 10px;
      line-height: 16px;
      font-weight: 500;
    }
  }

  &-vertical {
    background-image: url("img/phone_vertical_frame.png");
    width: 420px;
    height: 856px;
    margin-top: 68px;

    .sticky-content {
      width: 375px;
      height: 100px;
    }

    .screen {
      width: 375px;
      height: 812px;
    }

    .horizontal-btn {
      position: absolute;
      z-index: 20;
      width: 133px;
      height: 5px;
      bottom: 30px;
      background: $black;
      border-radius: 100px;
    }

    .illustrative-data {
      bottom: -24px;
    }

    .info-text {
      bottom: -7px;
      right: -350px;
    }
  }

  &-horizontal {
    background-image: url("img/phone_horizontal_frame.png");
    height: 420px;
    width: 856px;
    margin-top: 286px;

    .sticky-content {
      width: 812px;
      height: 56px;
      background-color: transparent;

      .button-back-navigation {
        top: 13px;
      }
    }

    .screen {
      width: 812px;
      height: 375px;
    }

    .illustrative-data {
      bottom: -243px;
    }

    .info-text {
      bottom: -243px;
      right: -132px;
    }
  }

  .none {
    .screen {
      background-color: $white;
    }
  }
}
