@import "@base/variables";

.page--09_Activity_library {
  .title {
    color: $blue;
    font-family: $font-standard-ct;
    font-feature-settings: "pnum" on, "lnum" on;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 8px;
    margin-top: 116px;
    padding: 0 24px;
  }

  .columns {
    display: inline-flex;
    position: relative;

    img {
      margin-left: -24px;

      &:first-child {
        margin-left: unset;
      }
    }

    a {
      &.link {
        border-radius: 16px;
        display: block;
        height: 180px;
        position: absolute;
        right: 17px;
        top: 16px;
        width: 165px;
      }
    }
  }

  .footer {
    color: $gray-darker;
    font-family: $font-standard-ct;
    font-feature-settings: "pnum" on, "lnum" on;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 40px;
    margin-top: 24px;
    text-align: center;
  }
}
