.graph {
  position: relative;
}

.study-graphic {
  [id*='line-'] {
    stroke-dasharray: 975;
    stroke-dashoffset: 975;
  }

  [id*='line-green'] {
    stroke-dashoffset: -985;
    stroke-dasharray: 985;
  }

  [id*='triangle-'],
  [id*='circle-'] {
    opacity: 0;
  }
}

.disable-animation {
  [id*='triangle-'],
  [id*='circle-'] {
    opacity: 1;
  }

  [id*='line-'] {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}
