@import "@base/variables";

.page {
  :global {
    .button-cmai-additional-info {
      position: absolute;
      bottom: -50px;
      right: 61px;
    }

    .click-area {
      position: absolute;
      left: 0;
      top: 188px;
      right: 0;
      z-index: 3;
      width: 500px;
      height: 304px;
    }

    .chart-wrapper {
      position: relative;
      width: 500px;
      height: 304px;
      padding-top: 57px;
      box-sizing: border-box;
    }
  }

  .image_1 {
    position: absolute;
    top: 138px;
    left: 1px;
  }

  .image_2 {
    position: absolute;
    bottom: 122px;
    left: 1px;
  }

  .h1 {
    line-height: 31px;

    sup {
      top: 4px;
      font-size: 0.6em;
      line-height: 20px;
    }
  }

  .modal_button {
    position: absolute;
    bottom: 118px;
    right: 82px;
  }

  .footnote {
    max-width: 560px;

    ul li {
      line-height: 12px;

      sup {
        font-size: 6px;
      }
    }
  }

  .safety_info {
    p:first-child {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;

      a {
        color: $green-200;
      }
    }

    p:nth-child(2) {
      font-weight: normal;
      font-size: 13px;
    }
  }
}
