.content-wrapper {
  .content-container {
    .wacs-container {
      display: flex;
      justify-content: center;
      gap: 90px;
      max-width: 835px;
      margin-bottom: 90px;

      .wac-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 314px;
        }
      }
    }

    .info-container {
      img {
        width: 853px;
        margin-left: -15px;
      }
    }
  }
}
