{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-standard-scss"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "extend",
          "forward",
          "function",
          "if",
          "import",
          "include",
          "mixin",
          "return",
          "use",
          "for"
        ]
      }
    ],
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "selector-id-pattern": null
  }
}
