.page {
  position: relative;
  margin-top: 12px;
  height: 100%;

  .h1 {
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: -15px;
  }

  .h2 {
    font-size: 22px;
    margin-bottom: 19px;
    text-align: center;
  }

  :global {
    .button.button__type-a--active {
      outline: none;
      border-color: #fdcf00;
      box-shadow: 0 0 20px #fdcf00;
      z-index: 1;
    }
  }

  .people {
    position: absolute;
    top: 52px;
    right: 30px;
    width: 79px;
  }

  .image_block {
    position: relative;
    width: 200px;
    height: 390px;
  }

  .buttonContainer {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 519px;
    width: 100%;
    margin-left: 23px;
  }

  .footer {
    ul li {
      line-height: 12px;
    }
  }
}
