@import '@base/variables';

.content-background {
  background-repeat: no-repeat;
  background-position: left top;
  background-color: $white;
  background-size: cover;
  position: absolute;
  left: -102px;
  top: 0;
  width: 1024px;
  height: 100%;
  padding: 72px 10px 0 146px;

  &.default {
    background-image: url('img/back-0.png');
  }

  &.a {
    background-image: url('img/back-1.png');
  }

  &.b {
    background-image: url('img/back-2.png');
  }

  &.c {
    background-image: url('img/back-2a.png');
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
