@import "@base/variables";

.content-background {
  background: $white;
  position: absolute;
  left: -102px;
  top: 0;
  width: 1024px;
  height: 100%;
  padding: 49px 53px 0 148px;

  &.a {
    background: url("img/back-0.jpg") no-repeat left top $white;
    background-size: cover;
  }

  &.b {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 357px;
      position: absolute;
      top: 0;
      left: 0;
      background: $gray-300;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
